@{
    ViewBag.Title = "Request page not found";
    Layout = "~/Views/Shared/_LayoutLogOut.cshtml";
}
<div>
    <div class="list-sfs-holder">
        <div class="alert alert-error">
            <h2>
                <b> Page Not Found</b>
            </h2>
            <div>
                <h3>
                    WE CANNOT FIND THE PAGE YOU ARE LOOKING FOR
                </h3>
                <ul class="bullet">
                    <li>The page may have been moved, updated or deleted</li>
                    <li>Or you may have typed the web address incorrectly</li>
                    <li>Please check the address and spelling</li>
                </ul>

            </div>

        </div>

    </div>

</div>