<header>
    <div id="ExpireConfirm_Submit" class="wrong-pass globalMsg warningText">
        <p>
            @BPA.GlobalResources.UI.Resources_common.display_YourSessionWillExpireIn
            <span id="Timer" class="Timer globalMsg-time"></span> &nbsp;
            @BPA.GlobalResources.UI.Resources_common.display_Seconds<br />
            @BPA.GlobalResources.UI.Resources_common.display_ToKeepActivePressKeep
        </p><button type="button" class="btn btn-orange btn-sm" id="btnSessonOK" onclick="KeepSession();">Keep</button>
    </div>

    <div class="header">
        <div class="appTitle">
            <a href="#" class="logo">
                <img src="~/images/bpa/exl_21_logo_org.svg" alt="logo">
            </a>
            <h1>NerveHub<sup>&#8482;</sup></h1>
        </div>
    </div>
    <div class="blubg">
    </div>
</header>
