/*
This is an example of how to use the image sprite in your own CSS files
*/
.Images-main-main-agent {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -1px;
}
.Images-main-main-assessme {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -402px;
}
.Images-main-main-assistme {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -803px;
}
.Images-main-main-config {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -1204px;
}
.Images-main-main-emailconfig {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -1605px;
}
.Images-main-main-letterlib {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -2006px;
}
.Images-main-main-ppr {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -2407px;
}
.Images-main-main-processrepo {
/* You may have to set 'display: block' */
	width: 675px;
	height: 310px;
	background: url('Main.png') -1px -2808px;
}
.Images-main-main-qms {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -3119px;
}
.Images-main-main-query {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -3520px;
}
.Images-main-main-swm {
/* You may have to set 'display: block' */
	width: 900px;
	height: 400px;
	background: url('Main.png') -1px -3921px;
}
